body {
	margin: auto;
}

#header {
	margin: 10px auto;
	text-align: center;
}

h3 {
	margin: auto;
	font-family: monospace;
	font-size: 32px;
	font-color: #666;
}

#reset-button {
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

button {
	margin: auto;
}

.row {
	margin: auto;
	width: 960px;
	background: #fff;
}

.block {
	margin: 0;
	outline: 1px solid white;
	display: inline-block;
	background: #e6e6e6;
}